body {
  font-size: 24px;
  font-family: Helvetica, sans-serif;
  background: #fff;
  color: #666;
  margin: 0;
  margin-bottom: 2rem;
}

.invisible {
  visibility: hidden;
}

#status-message {
  background-color: hsla(0, 100%, 50%, 0.8);
  margin: 1rem;
  padding: 1rem;
  text-shadow: none;
}

ul {
  list-style-type: none;
}

button {
  font-size: 1.2em;
  cursor: pointer;
  padding: 0.5em;
  border-radius: 16px;
  border-width: 2px;
  border-color: #333;
  border-style: solid;
  background-color: #fff;
  min-width: 44px;
  margin-bottom: 4px;
}

button:last-of-type {
  margin-bottom: 0;
}

.outer-container {
  display: flex;
}

a:link {
  color: #222;
  font-weight: 700;
}

a:visited {
  color: #ddd;
}

#version-info {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  font-size: 0.5em;
  color: #666;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
  display: none;
}

svg {
  border: solid 1px #222;
}

circle {
  fill: hsla(300, 50%, 50%, 0.75);
}

textarea {
  width: 100%;
  /*! height: 100em; */
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  justify-content: space-between;
}

section {
  min-width: 400px;
  width: 48%;
  overflow: scroll;
  border: solid 2px hsla(0, 0%, 0%, 0.5);
  border-radius: 4px;
  flex-grow: 1;
  padding: 8px;
  height: 400px;
  color: #444;
}

h3, h4 {
  margin-top: 0;
}

.control-bar {
  font-size: 14px;
  width: 15em;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0px;
  right: 0px;
  opacity: 0.7;
  background-color: #ddd;
  padding: 4px;
  border-radius: 16px;
}

@media all and (max-height: 568px) {
  body {
    font-size: 18px;
  }
}
